@require '../ChooseAnswer';

.NewQuestion {

  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;

  &__typeSelector {
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;
  }
}