@require '../../components/TestMeta';
@require '../../components/NewQuestion';

.TestForm {

  &__meta {
    padding: 15px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
  }


  &__newQuestion {
    margin-bottom: 10px;
  }
}